<div id="product" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/myfault'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
           
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
           اعلام خرابی
          </div>
          <div class="subtitle secondary-text">
            <span>فرم ایجاد کاربر جدید</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->
          <button mat-raised-button
                class="save-product-button"
                *ngIf="pageType ==='new'"
                  (click)="saveFault()">
                <mat-icon>people</mat-icon>
            <span>ثبت خرابی</span>
          </button>
          <button mat-raised-button
              class="save-product-button"
              *ngIf="pageType ==='edit'" (click)="updateFault()">
              <mat-icon>people</mat-icon>
          <span>ذخیره تغییرات</span>
      </button>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content" dir="rtl">

        <form #createFault="ngForm" name="faultForm" class="product w-100-p" fxLayout="column" fxFlex>
          <div class="tab-content p-24" fusePerfectScrollbar>

            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
              <mat-label> عنوان</mat-label>
              <input matInput placeholder="عنوان" [(ngModel)]="fault.title" name="name"  required>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
              <mat-label>توضیحات</mat-label>
              <input matInput placeholder="توضیحات" name="role" [(ngModel)]="fault.description"  required>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
              <mat-label>نوع خرابی</mat-label>
              <input matInput placeholder="توضیحات" name="role" [(ngModel)]="fault.faultTypeId"  required>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
              <mat-label>نوع 
              </mat-label>
              <input matInput placeholder="نوع" name="role" [(ngModel)]="fault.itemTypeId"  required>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
              <mat-label>محل خرابی 
              </mat-label>
              <input matInput placeholder="محل خرابی " name="role" [(ngModel)]="fault.locationId"  required>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>