<div id="myfault" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          settings
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          اعلام خرابی
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #filter placeholder="جستجوی خرابی">
        </div>
      </div>
      <!-- / SEARCH -->

      <!-- ADD BUTTON -->
      <button mat-raised-button [routerLink]="'/apps/myfault/createfault'"
        class="add-product-button fuse-white mt-24 mt-md-0">
        <mat-icon>settings</mat-icon>
        <span> خرابی جدید</span>
      </button>
      <!-- / ADD BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <mat-tab-group>

      <mat-tab label="اعلام خرابی های من">
        <div class="content-card">
          <mat-table class="products-table" #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}"
            fusePerfectScrollbar>
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ردیف</mat-header-cell>
              <mat-cell *matCellDef="let fault">
                <p class="text-truncate">{{fault.id}}</p>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef mat-sort-header>عنوان</mat-header-cell>
              <mat-cell *matCellDef="let fault">
                <p class="text-truncate">{{fault.title}}</p>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="faultType">
              <mat-header-cell *matHeaderCellDef mat-sort-header>نوع خرابی</mat-header-cell>
              <mat-cell *matCellDef="let fault">
                <p class="text-truncate">{{fault.faultType}}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="location">
              <mat-header-cell *matHeaderCellDef mat-sort-header>محل خرابی</mat-header-cell>
              <mat-cell *matCellDef="let fault">
                <p class="text-truncate">{{fault.location}}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="itemType">
              <mat-header-cell *matHeaderCellDef mat-sort-header> خرابی</mat-header-cell>
              <mat-cell *matCellDef="let fault">
                <p class="text-truncate">{{fault.itemType}}</p>
              </mat-cell>
            </ng-container>
            <!-- Role Column -->
            <!-- <ng-container matColumnDef="isArchive">
          <mat-header-cell *matHeaderCellDef mat-sort-header>آرشیو</mat-header-cell>
          <mat-cell *matCellDef="let fault">
            <mat-icon *ngIf="fault.isArchive">check_box</mat-icon>
            <mat-icon *ngIf="!fault.isArchive">check_box_outline_blank</mat-icon>
          </mat-cell>
        </ng-container> -->

            <ng-container matColumnDef="buttons">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let fault">
                <div fxFlex="row" fxLayoutAlign="start center">
                  <!-- <button mat-icon-button (click)="editPart(part.id)" aria-label="Toggle star">
                          <mat-icon class="amber-fg">edit</mat-icon>
                          ویرایش
                      </button> -->
                  <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                  <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="Reply" (click)="editFault(faulttype)">
                      <mat-icon>edit</mat-icon>
                      <span>جزئیات</span>
                    </button>

                    <button mat-menu-item aria-label="Print" (click)="deleteFault(faulttype)">
                      <mat-icon>lock_open</mat-icon>
                      <span>حذف</span>
                    </button>
                  </mat-menu>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-row *matRowDef="let fault; columns: displayedColumns;" 
            class="product" 
            [routerLink]="'/apps/myfault/myfault-detail/'+fault.id" 
            matRipple>

            </mat-row>

          </mat-table>

        </div>
      </mat-tab>
      <mat-tab label="آرشیو اعلام خرابی ها">
        <div class="content-card">
          <mat-table class="products-table" #table [dataSource]="adataSource" [@animateStagger]="{value:'50'}"
            fusePerfectScrollbar>
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ردیف</mat-header-cell>
              <mat-cell *matCellDef="let afault">
                <p class="text-truncate">{{afault.id}}</p>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef mat-sort-header>عنوان</mat-header-cell>
              <mat-cell *matCellDef="let afault">
                <p class="text-truncate">{{fault.title}}</p>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="faultType">
              <mat-header-cell *matHeaderCellDef mat-sort-header>نوع خرابی</mat-header-cell>
              <mat-cell *matCellDef="let fault">
                <p class="text-truncate">{{afault.faultType}}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="location">
              <mat-header-cell *matHeaderCellDef mat-sort-header>محل خرابی</mat-header-cell>
              <mat-cell *matCellDef="let fault">
                <p class="text-truncate">{{fault.location}}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="itemType">
              <mat-header-cell *matHeaderCellDef mat-sort-header> خرابی</mat-header-cell>
              <mat-cell *matCellDef="let fault">
                <p class="text-truncate">{{fault.aitemType}}</p>
              </mat-cell>
            </ng-container>
            <!-- Role Column -->
            <!-- <ng-container matColumnDef="isArchive">
          <mat-header-cell *matHeaderCellDef mat-sort-header>آرشیو</mat-header-cell>
          <mat-cell *matCellDef="let fault">
            <mat-icon *ngIf="fault.isArchive">check_box</mat-icon>
            <mat-icon *ngIf="!fault.isArchive">check_box_outline_blank</mat-icon>
          </mat-cell>
        </ng-container> -->

            <ng-container matColumnDef="buttons">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let fault">
                <div fxFlex="row" fxLayoutAlign="start center">
                  <!-- <button mat-icon-button (click)="editPart(part.id)" aria-label="Toggle star">
                          <mat-icon class="amber-fg">edit</mat-icon>
                          ویرایش
                      </button> -->
                  <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                  <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="Reply" (click)="editFault(faulttype)">
                      <mat-icon>edit</mat-icon>
                      <span>ویرایش</span>
                    </button>

                    <button mat-menu-item aria-label="Print" (click)="deleteFault(faulttype)">
                      <mat-icon>lock_open</mat-icon>
                      <span>حذف</span>
                    </button>
                  </mat-menu>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-row *matRowDef="let user; columns: displayedColumns;" class="product" matRipple>

            </mat-row>

          </mat-table>

        </div>
      </mat-tab>
    </mat-tab-group>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>