<div id="parts" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0"
               fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                settings
              </mat-icon>
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  قطعات
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input #filter placeholder="جستجوی قطعه">
              </div>
          </div>
          <!-- / SEARCH -->

          <!-- ADD BUTTON -->
          <button mat-raised-button
                  (click)="newPart()"
                  class="add-product-button fuse-white mt-24 mt-md-0">
                  <mat-icon>settings</mat-icon>
              <span>قطعه جدید</span>
          </button>
          <!-- / ADD BUTTON -->

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">
        <mat-table class="products-table"
                   #table [dataSource]="dataSource"
                   [@animateStagger]="{value:'50'}"
                   fusePerfectScrollbar>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>نام</mat-header-cell>
                <mat-cell *matCellDef="let part">
                    <p class="text-truncate">{{part.name}}</p>
                </mat-cell>
            </ng-container>
            <!-- Role Column -->
            <ng-container matColumnDef="isArchive">
              <mat-header-cell *matHeaderCellDef mat-sort-header>آرشیو</mat-header-cell>
              <mat-cell *matCellDef="let part">
                  <mat-icon *ngIf="part.isArchive">check_box</mat-icon>
                  <mat-icon *ngIf="!part.isArchive">check_box_outline_blank</mat-icon>
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="buttons">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let part">
                  <div fxFlex="row" fxLayoutAlign="start center">
                      <!-- <button mat-icon-button (click)="editPart(part.id)" aria-label="Toggle star">
                          <mat-icon class="amber-fg">edit</mat-icon>
                          ویرایش
                      </button> -->
                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" >
                        <mat-icon>more_vert</mat-icon>
                    </button>
        
                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="Reply" (click)="editPart(part)">
                            <mat-icon>edit</mat-icon>
                            <span>ویرایش</span>
                        </button>
        
                        <button mat-menu-item aria-label="Print" (click)="deletePart(part)">
                            <mat-icon>lock_open</mat-icon>
                            <span>حذف</span>
                        </button>
                    </mat-menu>
                  </div>
              </mat-cell>
          </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-row *matRowDef="let user; columns: displayedColumns;"
                     class="product"
                     matRipple>
                     
            </mat-row>

        </mat-table>

    </div>
  
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>

