 <div fxLayout="column" *ngIf="showActionsButtonSection" class="action-box">
      
    <button mat-raised-button color="primary" (click)="preSave('add')"
      class="add-product-button fuse-white mt-24 mt-md-0">
      <mat-icon>add_location</mat-icon>
      <span>مکان جدید</span>
    </button>

    <button mat-raised-button color="default" (click)="preSave('edit')"
      class="add-product-button fuse-white mt-24 mt-md-0">
      <mat-icon>edit_location</mat-icon>
      <span>ویرایش</span>
    </button>

    <button mat-raised-button color="warn" (click)="RemoveNode()" class="add-product-button fuse-white mt-24 mt-md-0">
      <mat-icon>delete</mat-icon>
      <span>حذف</span>
    </button>

  </div> 